* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    font-size: 14px;
    line-height: 1.6;
}

.container {
    width: 460px;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 16px;
}

.poster_wrap {
    position: relative;
}

.poster {
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    line-height: 36px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
}

.arrow:hover {
    background-color: #fff;
}

.arrow.prev {
    left: 20px;
}

.arrow.next {
    right: 20px;
}

.movie_info {
    margin: 20px 0;
}

.title_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title_wrap .num {
    width: 24px;
    height: 24px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
}

.director {
    margin: 16px 0;
}

.text {
    background-color: rgba(0,0,0,0.05);
    padding: 16px 12px;
    border-radius: 6px;
}