<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffee</title>
    <link rel="stylesheet" href="./coffee.css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="inner">
                <div class="logo">
                    <img src="./images/logo.png" alt="로고">
                </div>
                <ul class="gnb">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Offer</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">News</a></li>
                </ul>
                <div class="member">
                    <a href="#" class="btn">login</a>
                    <a href="#" class="btn filled">sign up</a>
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="section">                
                <div class="photos">
                    <div class="item_01">
                        <img src="./images/top_img_01.jpg" alt="커피사진1">
                        <img src="./images/top_img_02.jpg" alt="커피사진2">
                    </div>
                    <div class="item_02">
                        <img src="./images/top_img_03.jpg" alt="커피사진3">
                    </div>
                </div>
                <div class="texts">
                    <h2>about seven coffee</h2>
                    <p>Proin vitae fringilla tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis ex quis ligula luctus, sit amet egestas elit semper. Nulla a dignissim nulla. Vivamus aliquet malesuada massa vitae vulputate. Morbi commodo leo turpis, id posuere lectus pellentesque et. Aliquam facilisis vehicula hendrerit. Cras non ullamcorper justo. </p>
                    <a href="#">button</a>
                </div>
            </div>
        </div>
        
        <div class="footer">
            <div class="inner">footer</div>
        </div>
    </div>
    
</body>
</html>