* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 14px;
    line-height: 1.4;
    color: #222;    
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid blue;
}

.gnb {
    display: flex;
    z-index: 1;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    padding: 0 60px;
    height: 100px;
    line-height: 100px;
}

.gnb > li > a:hover {
    color: orangered;
}

.gnb ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: none;
}

.gnb ul li a {
    display: block;
    padding: 16px 10px;
    background-color: #fff;
    text-align: center;
 }

 /* slide */
.slider {
   position: relative;
   height: 300px;
   overflow: hidden;
}

.slides {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
}

.slide img {
   display: block;
}

/* contents */
.contents {
   display: flex;
   gap: 24px;
   height: 200px;
   padding: 10px 0;
}

.contents > div {
   width: 384px;
}

.board .titles {
   display: flex;
   gap: 4px;
   border-bottom: 3px solid #ff6347;
}
    
.board .titles h2 {
    background-color: #f0f0f0;
    text-align: center;
    width: 190px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-weight: normal;
}

.board .titles h2.active {
    background-color: #ff6347;
    color: #fff;
}

.board .notice_list {
    padding: 10px 6px;
}

.board .notice_list li {
    padding-left: 10px;
    position: relative;
}

.board .notice_list li::before {
    content: '>';
    position: absolute;
    top: 4px;
    left: 0;
    color: #ff6347;
}


.board .notice_list li a {
    display: block;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 360px;
}

.board .notice_list li a:hover {
    text-decoration: underline;
}

.board .gallery_list {
    padding: 10px;
    gap: 16px;
    display: none;
}

.board .gallery_list img {
    width: 110px;
}

.link ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 16px;
}

.link ul a {
    display: block;
    width: 184px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 8px;
}

.link ul a:hover {
    background-color: #ccc;
}

/* footer */
.footer {
   height: 100px;
   background-color: #eee;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.sns {
    display: flex;
    gap: 30px;
}

.sns a:hover {
    text-decoration: underline;
}

/* modal */
.modal {
    width: 500px;
    height: 360px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal p {
    margin: 20px 0;
    line-height: 1.6;
}

.modal button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #666;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
}