* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
}

body {
    color: #222;
    font-size: 14px;
}

.wrap {}

/* header */
.header {
    background-color: #222;
    color: #fff;
}

.header .inner {
    width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo img {
    width: 96px;
}

.header .inner .gnb {
    display: flex;
}

.header .inner .gnb li a {   
    padding: 0 30px;
    height: 100px;
    display: block;
    line-height: 100px;
}

.header .inner .gnb li a:hover {
    color: orangered;
} 

.header .inner .member {
    display: flex;
    gap: 20px;
}

.header .inner .member .btn {
    display: block;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #B28C68;
    border-radius: 30px;
    color: #B28C68;
}

.header .inner .member .btn.filled {
    background-color: #B28C68;
    color: #fff;
}

/* contents */
.contents {
    width: 1040px;
    margin: 0 auto;
}

.contents .section {
    display: flex;
    gap: 60px;
    margin: 50px 0;
}

.contents .section .photos {
    display: flex;
    gap: 20px;
}

.contents .section .photos .item_01 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contents .section .photos .item_01 img {
    width: 220px;
}

.contents .section .photos .item_02 img {
    width: 220px;
}

.contents .section .texts {}



.footer {}

.footer .inner {}