* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.wrap {
    text-align: center;
}

.header {
    background-color: #D9D9D9;
    height: 100px;
    line-height: 100px;
}

.contents {
    width: 1200px;    
    margin: 0 auto;
    line-height: 624px;
    display: flex;
}

.contents .main {
    width: 900px;
    height: 624px;  
    background-color: #F0F0F0;  
}

.contents .menu {
    width: 300px;
    height: 624px;
    background-color: #E6E6E6;
}

.footer {
    background-color: #D9D9D9;
    height: 300px;
    line-height: 300px;
}