* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

.wrap {
    font-size: 20px;
    text-align: center;
}

.header {
    background-color: #D9D9D9;
    height: 100px;
    line-height: 100px;
}

.contents {
    background-color: #E6E6E6;
    height: 624px;    
}

.contents p {
    width: 800px;
    margin: 0 auto;
    padding-top: 260px;
}

.footer {
    background-color: #D9D9D9;
    height: 300px;
    line-height: 300px;
}

